<h1>Patients</h1>
<div *ngIf="loading">Chargement…</div>
<div *ngIf="error">{{ error }}</div>

<table *ngIf="!loading && !error">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Naissance</th>
      <th>Genre</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of patients">
      <td>{{ p.id }}</td>
      <td>{{ p.lastName }}</td>
      <td>{{ p.firstName }}</td>
      <td>{{ p.birthDate }}</td>
      <td>{{ p.gender }}</td>
      <td><a [routerLink]="['/patients', p.id]">Voir</a></td>
    </tr>
  </tbody>
</table>
